#parcelImage, #map {
	margin-bottom: 1em;
}

.header,  h2{
	color: #039;
	border-bottom: 2px solid #6678b1;
}

.header {
	font-size: 18px;
}

.formattedAddresses {
    margin-left: 0.5em;
}

#parcelImage {
    margin-right: 2em;
}

#map {
	width: 500px;
    height: 375px;
}

.rowData {
    border-bottom: 1px solid rgb(185, 185, 185);
}
